html {
  background-color: #606666;
}

body {
  margin: 0;
}

.project {
  background-color: #666;
  margin: 10px;
  color: #eee;
  box-shadow: 0 0 5px #333;
}

.project > header {
  padding: 10px;
  background-image: -webkit-linear-gradient(#444, #333);
  background-image: -moz-linear-gradient(#444, #333);
}

.project > .log {
  background-color: #333;
  color: #eee;
  margin: 0;
  padding: 10px;
  word-break: break-all;
  white-space: pre-wrap;
}

.project > .log:empty {
  padding: 0;
}

.project.normal .name {
  color: #9c6;
}

.project.in_progress .name {
  color: #999;
}

.project.error {
  border: 2px solid #c66;
}

.project.error .name {
  color: #c66;
}
