html {
  background: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 90%);
}

body {
  margin: 0;
}

.project {
  margin: 1rem 2rem;
}

.project > .log {
  word-break: break-all;
  white-space: pre-wrap;
}

.project > .log:empty::after {
  content: "empty";
  color: hsl(0, 0%, 60%);
}

.project.normal .name {
  color: hsl(90, 50%, 60%);
}

.project.in_progress .name {
  color: hsl(0, 0%, 60%);
}

.project.error {
  border: 2px solid hsl(0, 50%, 60%);
}

.project.error .name {
  color: hsl(0, 50%, 60%);
}
